* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans/OpenSans/OpenSans-Regular.ttf');
}

body {
    background: url(Image.png);
    filter: drop-shadow(0px 8px 42px rgba(44, 64, 84, 0.18));
}

.container {
    max-width: 1450px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    padding: 26px 0 26px 0;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 53px 0 53px;
    background-color: #FFFFFF;
}

.menu__list {
    display: flex;
}

.menu__list-item {
    padding: 0 0 0 50px;
}

.menu__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #373A39;
    padding-bottom: 9px;
}

.menu__link--active {
    border-bottom: 2px solid #FCBB08;
}

.header__content-inner {
    background-image: url('../Oxygen/style/img/Header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__content-title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    color: #FFFFFF;
    margin-top: 213px;
}

.header__content-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74286px;
    color: #FCBB08;
}

.header__content-decor {
    margin: 179px 0 62px 0;
}

.title {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
}

.title::before {
    content: '';
    width: 60px;
    height: 4px;
    background: #FCBB08;
    display: inline-block;
    position: absolute;
    margin-top: 89px;
}

.title.about__title {
    width: 344px;
    height: 75px;
    margin: 143px 56px 273px 135px;
}

.about__inner {
    display: flex;
    background-color: #F6F8FA;
}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}

.text.about__text {
    max-width: 770px;
    margin: 152px 135px 159px 0;
}

.text.about__text p {
    margin-bottom: 10px;
}

.expertise__inner {
    background-color: #FFFFFF;
    padding: 139px 0 168px 0;
}

.expertise__content {
    margin-top: 89px;
}

.title.expertise__title {
    margin: 0 0 0 144px;
}

.expertise__progress-items {
    margin: 0 30px 110px 144px;
}

.expertise__progress-item {
    margin-bottom: 28px;
}

.expertise__progress-bar {
    width: 333px;
    height: 2px;
    background: #1D1D1D;
}

.expertise__progress-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1D1D1D;
}

.text.expertise__content-text {
    max-width: 770px;
    margin-top: -10px;
    margin-right: 126px;
}

.expertise__content {
    display: flex;
}

.expertise__items {
    display: flex;
    margin: 0 126px 0 147px;
}

.expertise__item {
    display: flex;
    margin-right: 30px;
}

.expertise__item-img {
    width: 50px;
    height: 55px;
}

.expertise__item-box {
    margin-left: 35px;
}

.expertise__item-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4.29px;
    color: #333333;
}

.text.expertise__item-text {
    color: #777777;
    margin-top: 14px;
}

.features__inner {
    background-image: url('../Oxygen/style/img/features-bg.png');
    background-repeat: no-repeat;
    background-color: #F6F8FA;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 101px 0 132px 0;
}

.features__content {
    margin: 0 135px 0 0;
}

.title.features__title {
    margin-bottom: 85px;
    width: 420px;
}

.title.features__title::before {
    margin-top: 160px;
}

.text.features__text {
    width: 470px;
}

.text.features__text p {
    margin-bottom: 15px;
}

.portfolio__inner {
    background-color: #FFFFFF;
}

.portfolio__inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 170px 131px 100px 135px;
}

.portfolio__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio__item {
    width: 343px;
    height: 292px;
    background-color: #EDEDED;
    margin: 5px;
}

.portfolio__item.portfolio__item--active {
    background: linear-gradient(0deg, rgba(36, 33, 33, 0.8), rgba(36, 33, 33, 0.8)), #EDEDED;
    border: 12px solid rgba(255, 255, 255, 0.147164);
}

.portfolio__btn {
    width: 100%;
    height: 100px;
    border: none;
    background-color: #F6F8FA;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    color: #242121;
}